@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "tailwindcss";

.f1-select option {
  background-color: #020617; 
  color: #e5e7eb; 
}

.f1-select option:hover,
.f1-select option:checked,
.f1-select option:focus {
  background-color: #e10600; 
  color: #ffffff;
}
.font-play {
  font-family: "Play", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
h1,
h2,
h3 {
  font-family: "Play", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
